<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dltone.com.mealhero" >

    <!-- sdk levels included in gradle build script -->


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To access IBM Cloud services -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MealHeroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapPreviewActivity"
            android:label="@string/title_activity_map_preview">
        </activity>
        <activity
            android:name=".AdministrationActivity"
            android:label="@string/title_activity_administration" >
        </activity>
        <activity
            android:name=".VolunteerEditActivity"
            android:label="@string/title_activity_edit_volunteer"
            android:parentActivityName=".AdministrationActivity"
            android:theme="@style/Theme.CustomActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VolunteerListActivity" />
        </activity>

        <activity
            android:name=".AssignClientsActivity"
            android:label="@string/title_activity_assign_clients"
            android:parentActivityName=".ClientEditActivity"
            android:theme="@style/Theme.CustomActionBar">
        </activity>

        <activity
            android:name=".VolunteerListActivity"
            android:label="@string/title_activity_display_volunteer_view"
            android:parentActivityName=".AdministrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.AdministrationActivity" />
        </activity>
        <activity
            android:name=".AddClientActivity"
            android:label="@string/title_activity_add_client"
            android:parentActivityName=".AdministrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.AdministrationActivity" />
        </activity>
        <activity
            android:name=".AddVolunteerActivity"
            android:label="@string/title_activity_add_volunteer"
            android:parentActivityName=".AdministrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.AdministrationActivity" />
        </activity>
        <activity
            android:name=".ClientListActivity"
            android:label="@string/title_activity_client_list"
            android:parentActivityName=".AdministrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.AdministrationActivity" />
        </activity>
        <activity
            android:name=".ClientEditActivity"
            android:label="@string/title_activity_client_edit"
            android:parentActivityName=".ClientListActivity"
            android:theme="@style/Theme.CustomActionBar">
        </activity>
        <activity
            android:name=".ClientDetailActivity"
            android:label="@string/title_activity_client_detail"
            android:parentActivityName=".MapPreviewActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.skobbler.ngx.API_KEY"
            android:value="@string/skobbler_key" />

        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.MapPreviewActivity" />
        </activity>
        <activity
            android:name=".AddressListActivity"
            android:label="@string/title_activity_address_list"
            android:parentActivityName=".AddClientActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dltone.com.mealhero.AddClientActivity" />
        </activity>
    </application>

</manifest>
